
body {
  font-family: Arial, sans-serif;
  background-color: #f8f9fa;
  color: #333;
  margin: 0;
  padding: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}
.container {
  text-align: center;
  margin-top: 10rem;
}
h1 {
  font-size: 10rem;
  margin-bottom: 80px;
  color: #dc3545;
}
h3 {
  font-size: 3rem;
  margin-bottom: 20px;
  color: #1b2185;
}
p {
  font-size: 1.5rem;
}
a {
  color: #007bff;
  text-decoration: none;
}
