<nav class="navbar navbar-expand-md navbar-light shadow-sm d-flex justify-content-between">
  <div class="container">
  <a class="navbar-brand mt-2" routerLink="/">
    YOUCODE
  </a>
  <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent"
          aria-controls="navbarSupportedContent" aria-expanded="false" [attr.aria-label]="ariaLabel">
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <ul class="navbar-nav me-auto ms-auto">
      <li class="nav-item me-4">
        <a class="nav-link" routerLink="/">
           Home
        </a>
      </li>
      <li class="nav-item me-4">
        <a class="nav-link" routerLink="content">
           Users
        </a>
      </li>
      <li class="nav-item me-4">
        <a class="nav-link" routerLink="profile">
           Profile
        </a>
      </li>
      <li class="nav-item me-4">
        <a class="nav-link" routerLink="dashboard">
           Dashboard
        </a>
      </li>
    </ul>
    <ul class="navbar-nav">
      <li class="nav-item" >
        <a class="btn btn-light text-black" routerLink="/login">Login</a>
      </li>
      <li class="nav-item" >
        <a class="btn btn-dark text-white" routerLink="/register" >Register</a>
      </li>
    </ul>
  </div>
  </div>
</nav>
<!--<h1 class="d-flex justify-content-center">Home PAge</h1>-->
  <div class="row">
<!--    <div class="col-2">-->
<!--      <app-sidebar></app-sidebar>-->
<!--    </div>-->
    <div class="col-9 d-flex justify-content-center align-items-center">
      <main role="main" class="col-md-9 mt-2 ml-sm-auto col-lg-10 px-4">
        <router-outlet></router-outlet>
      </main>
    </div>
  </div>
