

    <div class=" col-auto  shadow p-2 bg-body rounded">
      <div class="d-flex flex-column align-items-center align-items-sm-start px-3 pt-2 text-white min-vh-100">
        <ul class="nav nav-pills flex-column mb-sm-auto mb-0 align-items-center align-items-sm-start" id="menu">
          <li class="nav-item">
            <a routerLink="home" class="nav-link align-middle px-0">
              <i class="fs-4 bi-house"></i> <span class="ms-1 d-none d-sm-inline fw-bold">Home</span>
            </a>
          </li>
          <li>
<!--          <li *ngIf="authenticationService.isAdmin()">-->
            <a href="#umanag" data-bs-toggle="collapse" class="nav-link px-0 align-middle ">
              <i class="fs-4 bi-robot"></i> <span class="ms-1 d-none d-sm-inline fw-bold">Users</span></a>
            <ul class="collapse nav flex-column ms-1" id="umanag" data-bs-parent="#menu">
              <li class="w-100">
                <a routerLink="content" class="nav-link px-lg-3"> <span class="d-none d-sm-inline">Users list</span></a>
              </li>
              <li>
                <a routerLink="new-user" class="nav-link px-lg-3"> <span class="d-none d-sm-inline">New User</span></a>
              </li>
              <li>
                <a routerLink="new-role" class="nav-link px-lg-3"> <span class="d-none d-sm-inline">New Role</span></a>
              </li>
            </ul>
          </li>
          <hr>
          <li>
            <ul class="collapse nav flex-column ms-1" id="Customers" data-bs-parent="#menu">
              <li>
                <a routerLink="new-customer" class="nav-link px-lg-2"> <span class="d-none d-sm-inline">New bank customer</span></a>
              </li>
            </ul>
          </li>
          <li class="nav-item mt-5">
            <a  routerLink="login" class="nav-link align-middle px-0">
              <i class="fa fa-sign-out"></i> <span class="ms-1 d-none d-sm-inline fw-bold">logout</span>
            </a>
          </li>
        </ul>
      </div>
    </div>



